<!DOCTYPE html>
<html>

<head>

<title>Revendedores de Perfumes Colombia</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Plataforma de Revendedores de Perfumes en Colombia</h1>

<p>Gana dinero vendiendo perfumes desde casa.</p>

<form action="/registro" method="POST">

<input type="text" name="nombre" placeholder="Nombre completo" required>

<input type="text" name="ciudad" placeholder="Ciudad" required>

<input type="text" name="inversion" placeholder="Inversión inicial" required>

<button type="submit">Quiero ser revendedor</button>

</form>

<br>

<a href="https://TU_CATALOGO_GITHUB">Ver catálogo</a>

<br><br>

<a href="https://wa.me/573XXXXXXXXX">
Contactar por WhatsApp
</a>

</body>

</html>
